<!DOCTYPE html>
<html>
    <head>

        <title>My Homepage</title>
    </head>
    <body>
        <h1>First Page</h1>
        <p>
            The Definition of CRUD Within computer programming, the acronym CRUD stands for create, read, update and delete. These are the four basic functions of persistent storage.The Definition of CRUD Within computer programming, the acronym CRUD stands for create, read, update and delete. These are the four basic functions of persistent storage.The Definition of CRUD Within computer programming, the acronym CRUD stands for create, read, update and delete. These are the four basic functions of persistent storage.
        </p>
        <p>
            dhfsks hdkfh shd fasl dhf;ashfd;, hsdf
            sdlf askhgflsadf lj sdaf;kfjhshad fkdsajfdsff
            dskjjhf lkasdhf ksdhf lkhsdfklahsdfk l
        </p>
        <a href="{{url_for('more')}}">See more</a><!-- url_for('<function name flask file>') -->

    </body>
</html>
