
<!DOCTYPE html>
<html>
    <head>

        <title>My Homepage</title>
    </head>
    <body>
        <h1>Second Page</h1>
        <p>
            dhfsks hdkfh shd fasl dhf;ashfd;, hsdf
            sdlf askhgflsadf lj sdaf;kfjhshad fkdsajfdsff
            dskjjhf lkasdhf ksdhf lkhsdfklahsdfk l
        </p>
        <p>
            dhfsks hdkfh shd fasl dhf;ashfd;, hsdf
            sdlf askhgflsadf lj sdaf;kfjhshad fkdsajfdsff
            dskjjhf lkasdhf ksdhf lkhsdfklahsdfk l
        </p>
        <a href="{{url_for('index')}}">Previous</a><!-- url_for('<function name flask file>') -->

    </body>
</html>
